/* Montserrat */
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url('~/assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
}


@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url('~/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url('~/assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
}

/* Benzin */
@font-face {
  font-family: Benzin;
  font-weight: 300;
  src: url('~/assets/fonts/Benzin/Benzin-Regular.woff2') format('woff2');
}


